:root {
  --primary-text-color: #434455;
  --headings-color: #2e2f42;
  --hero-background-color: #2e2f42;
  --primary-brand-color: #4d5ae5;
  --active-state-color: #404bbf;
  --accent-color: #e7e9fc;
  --light-accent-color: #f4f4fd;
  --bright-background-color: white;
  --box-shadow-color: rgba(0, 0, 0, 0.15);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--bright-background-color);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.container {
  margin: auto;
  width: 1440px;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 0 156px;
  border-bottom: 1px solid var(--accent-color);
}

.secondary-title {
  font-size: 36px;
  line-height: 1.111;
  text-align: center;
  text-transform: capitalize;
  color: var(--headings-color);
}

.minor-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--headings-color);
}

.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 1.333;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--headings-color);
  text-decoration: none;
  padding: 24px 0;
  display: block;
}

.logo-span-web {
  color: var(--primary-brand-color);
}
.logo-span-studio {
  color: var(--light-accent-color);
}
.navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.navigation-list {
  display: flex;
  align-items: center;
}

.nav-list-link {
  font-weight: 500;
  color: var(--headings-color);
  text-decoration: none;
  padding: 24px 0;
  margin: 0 0 0 40px;
  display: block;
}
.nav-list-item:first-child .nav-list-link {
  margin-left: 76px;
}

.navigation-list a:hover,
.navigation-list a:focus {
  color: var(--active-state-color);
}

.navigation-list {
  list-style-type: none;
}
.contacts-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.adr-list-link {
  font-style: normal;
  text-decoration: none;
  color: var(--primary-text-color);
  padding: 24px 0;
}

.adr-list-item:first-child .adr-list-link {
  margin-right: 40px;
}

.adr-list-link:first-child {
}

.contacts-list a:focus,
.contacts-list a:hover {
  color: var(--active-state-color);
}

.hero-container {
  padding: 188px 0 250px 0;
  height: 600px;
  background-color: var(--hero-background-color);
}

.hero-section {
}
.hero-title {
  display: block;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--bright-background-color);
}
.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--bright-background-color);
  background: var(--primary-brand-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px var(--box-shadow-color);
  border-radius: 4px;
  border: 0;
  margin: 48px auto 0 auto;
  display: block;
  padding: 16px 32px;
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
  background: var(--active-state-color);
}
.features-title {
  margin-bottom: 8px;
}
.features-container {
  padding: 120px 156px;
}
.features-list {
  list-style-type: none;
  display: flex;
}
.features-list-item {
  flex-basis: calc((1440px - (156px * 2) - (24px * 3)) / 4);
  margin-right: 24px;
}
.features-list-item:last-child {
  margin: 0;
}
.examples-container {
  padding: 0 156px;
}
.projects-list {
  list-style-type: none;
  margin-top: 72px;
  display: flex;
  padding-bottom: 120px;
}

.projects-list-item {
  margin-right: 24px;
  font-size: 0;
  width: calc((1440px - (156px * 2) - (24px * 2)) / 3);
}
.projects-list-item:last-child {
  margin: 0;
}

.team-container {
  padding: 120px 156px;
  background-color: var(--light-accent-color);
}
.team-list {
  list-style-type: none;
  margin-top: 72px;
  display: flex;
}

.team-list-item {
  margin-right: 24px;
}

.team-list-item:last-child {
  margin-right: 0px;
}
.team-list-card {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: white;
  flex-basis: calc((1440px - (156px * 2) - (24px * 2)) / 3);
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}

.team-list-card .minor-title {
  margin-top: 32px;
  text-align: center;
}
.team-member-occupation {
  margin-top: 8px;
  text-align: center;
  padding-bottom: 32px;
}

.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background: var(--light-accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px var(--box-shadow-color);
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  padding: 12px 24px;
}
.filter-buttons-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.filter-buttons-list-item {
  margin-right: 24px;
}

.filter-buttons-list-item:last-child {
  margin-right: 0;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  background-color: var(--active-state-color);
  color: var(--bright-background-color);
}

.portfolio-projects-container {
  padding: 96px 156px 120px 156px;
}
.portfolio-projects-list {
  list-style-type: none;
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-projects-item {
  margin-right: 24px;
  margin-bottom: 48px;
}

.portfolio-projects-item:nth-child(3n + 3) {
  margin-right: 0;
}

.portfolio-projects-item:nth-child(n + 7) {
  margin-bottom: 0;
}
.portfolio-project-card {
  border: 1px solid var(--accent-color);
  width: calc((1440px - 156px * 2 - 24px * 2) / 3);
}
.project-name-title {
  margin: 32px 0 8px 0;
  padding-left: 16px;
}
.project-description {
  padding: 0 0 32px 16px;
}

.footer-container {
  padding: 100px 156px;
  background-color: var(--hero-background-color);
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 1.333;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--headings-color);
  margin-bottom: 16px;
  text-decoration: none;
  display: block;
}

.footer-motto {
  color: var(--accent-color);
  display: block;
  width: 264px;
}
